body {
    background-color:#111;
}
@font-face {
  font-family: '标题字体';
  src: url('font/SourceHanSansSC-Medium.otf') format('opentype');
}

@font-face {
  font-family: '正文字体';
  src: url('font/SourceHanSansSC-ExtraLight.otf') format('opentype');
}
a {
    font-family: '正文字体';
}
p {
    font-family: '正文字体';
    font-size:2.4vh;
    color:#fff;
}
h1 {
    font-family: '标题字体';
    font-size:4.9vh;
    color:#fff;
}
iframe {
    width:100%;
    height:100vh;
    left:0;
    
}
hr {
    width:100%;
    margin:0 auto;
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, red, #333, rgb(9, 206, 91));
}

.navbar {
    height:7vh;
    text-align:center;
    background-color:#000;
    overflow: hidden;
    width:100%;
    position:fixed;
    top:0;
    margin:0;
    padding:0;
    left:0;
}
.nav-link{
  height:7vh;
  padding:10px 20px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:2.4vh;
}
.nav-link:hover {
    background-color: #ddd;
    color: black;
    transition:0.6s;
}
.nav-link.active {
    background-color: #04AA6D;
    color: white;
    transition:0.6s;
}
.nav-logo {
    height:6.8vh;
    display: inline;
    float: right;
}
.footer {
    width:100%;
    margin:auto;
}
.mainpictures {
    width:100%;
    left:0;
}
.icon {
    height:5vh;
}
.platform {
    width:95%;
    margin:auto;
}